<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="InstanceName" value="production" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
        <add key="InstanceSalt" value="HNiAa6y9D8zbLtKXWZ3NcC" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
        <add key="Container.StorageType" value="SymbolSource.Contract.Storage.AzureStorageService, SymbolSource.Contract" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
        <add key="Container.SchedulerType" value="SymbolSource.Contract.Scheduler.WebJobsSchedulerService, SymbolSource.Contract" xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" />
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>